.text-green {
    color: green;
}

.tulisanbiru {
    color: blue;
}

.txtbiasa {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.bgwarna {
    background-color: brown;
}

.nempel {
    margin: 0;
    padding: 0;
}

.judul {
    font-family: 'Poppins';
    text-align: center;
}

p {
    font-size: 18px;
    font-weight: bold;
}

img {
    border: 10px;
}


body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    text-align: left;
    background-color: #f2f2f2;
}

.center {
    text-align: center;
}

.btn {
    padding: 10px 20px;
    background: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.form {
  background-color: #cbd8e6;
  width: 90%;
  margin: 50px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
body {
  background: linear-gradient(to bottom right, #f0f4ff, #dbe5f3);
  font-family: Arial, sans-serif;
}
h1.judul {
  color: #742a2a;
  text-align: center;
  margin-bottom: 25px;
}
